html {
  font-size: 10px;
  font-family: sans-serif;
  color: #ffffff;
  box-sizing: border-box;
}

/* main content flexed */

main {
  display: flex;
  flex-direction: column;
}

article {
  height: 4.8rem;
}

h1 {
 font-size: 3rem;
}

h2 {
  font-size: 1.5rem;
  padding: 1rem;
}

p {
  font-size: 1.4rem;
  margin: 1rem 0;
}

li {
  display: inline;
}

a{
  color: #ffffff;
  text-decoration: none;
}

ul {
  padding-top: 2rem;
  padding-left: 0rem;
  
}

li a{
  border: 1px solid #ffffff;
  padding: 1rem;
  margin-right: 4rem;
}

.intro {
  background-color: #60B97F;
  padding: 5rem;  
}

.profile,
.portfolio {
  background-color: #f3a13a;
}

.experience,
.contact {
  background-color: #408abf;
}

.education {
  background-color: #e16351;
}

.social-menu {
  background-color: #e8713b;
}

.blog {
  background-color: #60B97F;
}

/* image carousel section */

aside img {
  width: 100%;
  height: 100vh;
  background-color: #60B97F;
}

/* medium screen query >550px */

@media screen and (min-width: 550px) {
  
  html {
    font-size: 15px
  }
  
  main {
    flex-wrap: wrap;
    flex-direction: row;
  }
  
  article,
  .intro {
    height: 33.3vh;
  }

  .intro {
    background-color: #60B97F;
    padding: 0rem;
    width: 66.6%;
  }

  article{
    width: 33.3%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  h1 {
    font-size: 2rem;
    padding: 2rem 0rem 0rem 1rem;
  }

  h2 {
    font-size: 1rem;
    padding: 0rem;
  }

  p {
    font-size: 1rem;
    margin: 0rem 0;
    padding: 1rem 0 0 1rem;
  }

  li {
    display: inline;
  }

  a {
    color: #ffffff;
    text-decoration: none;
  }

  ul {
    padding: 2rem 0 0 1rem;
  }

  li a{
    border: 1px solid #ffffff;
    padding: 1rem;
    margin-right: 1rem;
  }

  aside {
    background-color: #60B97F;
  }

  aside img {
    display: block;
    width: 80%;
    margin: auto;
  }
}
  
/* large screen media >760px   */

@media screen and (min-width: 760px) {
  main {
    width: 60%;
    float: left;
  }

  aside img {
    margin: 0;
    width: 40%;
  }
}

/* extra large screens */
@media screen and (min-width: 1200px) {
  html {
    font-size: 20px;
  }

}
