/*CSS reset applied in separate file*/
/*root element given a font size of 10px and wherever possible, styled elements utilize rem units to easity scale with media queries. */

html {
  font-size: 10px;
  font-family: sans-serif;
  color: #ffffff;
  box-sizing: border-box;
}

/* base style - mobile 320x568 */

/*cornerstone intro section*/
section {
  background-color: #101113;
  padding: 1rem 0 2rem 1rem;
}

section img {
  width: 1rem;
}

h1 {
 font-size: 3rem;
}

p {
  font-size: 1.5rem;
  margin: 1rem 0;
  color: #6d757d;
}

ul {
  padding-top: 2rem;
  padding-left: 0rem;
}

li {
  display: inline;
  border: 1px solid #ffffff;
  padding: 1rem;
  margin: 0 1rem 0 0;
}

/* styling for subject boxes*/
a{
  color: #ffffff;
  text-decoration: none;
}

article {
  height: 5.7rem;
  display: flex;
  align-items: center;
}

article a {
  font-size: 1.5rem;
  padding: 0 0 0 1rem;
}

article a img {
  width: 3rem;
  vertical-align: middle;
}

/* color pallete for boxes*/
.profile,
.social-menu {
  background-color: #6e81a1;
}

.experience,
.contact {
  background-color: #8c9db1;
}

.education {
  background-color: #c8cac9;
}

.portfolio {
  background-color: #101113;
}

.blog {
  background-color: #6d757d;
}

/* image carousel section */
aside {
  width: 100%;
  display: block;
  height: 100vh;
}

.carousel-image {
  position: relative;
  background-image: url("images/image-carousel-1.jpg");
  background-size: 100% 100%;
  height: 100%;
  min-height: 568px;
}

.carousel-image input {
  width: 4rem;
  display: inline-block;
  position: absolute;
  top: 46%;
}

.carousel-image input:hover {
  opacity: 1.0;
}

.right-arrow {
  right: 1rem;
}

.left-arrow {
  left: 1rem;
}

.carousel-image img {
  width: 1.5rem;
  height: 1.5rem;
  float: right;
  margin: 1rem 1rem 0 0;  
}

.carousel-image input,
.carousel-dot2,
.carousel-dot1 {
  opacity: .5;
}

/*first media query, image carousel remains below main box section */
@media screen and (min-width: 550px) {

  html {
    font-size: 12px;
    background-color:#6d757d; 
  }
  
  main {
    display: flex;
    flex-wrap: wrap;
  }
  
  article,
  section {
    height: 34vh;
    min-height: 240px;

  }

  section {
    padding: 0;
    width: 66.6%;
    min-height: 20rem;
  }

  article{
    width: 33.3%;
    justify-content: center;
    align-items: center;
  }
  
  article a {
    font-size: 1rem;
  }

  article a img {
    display: block;
    margin: 0 auto 1rem auto;
  }
  
  h1 {
    /* font-size: 3rem; */
    padding: 3rem 0 1rem 1rem;
  }

  p {
    padding: 0rem 0rem 0 1rem;
    display: inline-block;
    width: 90%;
  }

  ul {
    padding: 1rem 0 0 1rem;
  }
 
  aside {
    width: 60%;
    margin: auto;
  }
}

/* large screen media >790px. main section floated left and left and right sections given appropriate display and widths to sit inline(-block) */

@media screen and (min-width: 790px) {
  main {
    width: 60%;
    float: left;
  }
  
  aside {
    display: inline-block;
    width: 40%;
  }
  
  .carousel-image {
    min-height: 720px;
  }

  article,
  section {
    min-height: 20rem;
  }
}

/* large screen media query - fonts and margins adjusted to improve readibility. min heights prevent buttons from disappearing in main intro section*/
@media screen and (min-width: 1200px) {
  html {
    font-size: 15px;
  }
  
  h1 {
    padding: 0;
    margin: 3rem 0 2rem 1rem;
  }

  p {
    padding: 0;
    margin: 0 0 1rem 1rem;
    font-size: 1.3rem;
  }

  article,
  section {
    min-height: 270px;
  }

  aside {
    min-height: 810px;
  }
}
